/* styles reset start */
body {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

/* styles reset end */

.d-none {
  display: none !important;
}

.slider {
  width: 100%;
  height: 400px;
  background-color: green;

  &__item {
    display: grid;
    grid-template: "widget widget";
    gap: 10px;
    height: 100%;
    padding: 5px;
    overflow: hidden;
  }
}

.gallery {
  display: grid;
  grid-auto-rows: 0;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(2, 1fr);
  gap: 5px;
  background-color: red;

  &__item {
    $item: &;

    background-color: yellow;

    &--horizontal {
      grid-area: 1 / 1 / 1 / 3;

      & ~ & {
        grid-area: 2 / 1 / 2 / 3;
      }

      &--vertical {
        display: none;
      }
    }

    &-vertical {
      grid-area: 1 / 1 / 3 / 1;

      & ~ & {
        grid-area: 1 / 2 / 3 / 2;
      }

      & ~ &--horizontal {
        display: none;
      }
    }

    &--big {
      grid-area: 1 / 1 / 3 / 3;
    }
  }

  &__image {
    max-width: 100%;
    height: auto;
  }
}
